<div class="header">
  <app-header [isMainPageVisible]="isMainPageVisible"
              [isAboutUsPageVisible]="isAboutUsPageVisible"
              [isContactPageVisible]="isContactPageVisible"
              (onMainPageSelect)="showMainPage()"
              (onContactPageSelect)="showContactPage()"
              (onAboutUsPageSelect)="showAboutUsPage()"
  ></app-header>
</div>

<div class="main-layout">
  <app-main *ngIf="isMainPageVisible"></app-main>
  <app-about-us *ngIf="isAboutUsPageVisible"></app-about-us>
  <app-contacts *ngIf="isContactPageVisible"></app-contacts>
</div>

<div class="footer">
  <app-footer></app-footer>
</div>